@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@layer base {
  button {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .text-responsive-lg {
    font-size: clamp(3rem, 5vw, 5rem);
  }

  .text-responsive-sm {
    font-size: clamp(2rem, 5vw, 4rem);
  }
}

html,
body {
  background-color: #121212;
}

.custom-center {
  @apply flex flex-col items-center justify-center gap-3;
}

.custom-shadow {
  box-shadow: 0 10px 20px rgba(0, 150, 136, 0.3);
}

.custom-shadow:hover {
  box-shadow: 0 10px 40px rgba(100, 255, 218, 0.5);
}
.custom-box {
  @apply rounded-lg w-26 h-26 sm:w-34 sm:h-34 sm:transform hover:scale-105 hover:bg-gradient-to-r hover:from-white hover:to-[#64FFDA] hover:bg-clip-text hover:text-transparent transition duration-300 bg-[#1A1A1A];
}

.custom-hover {
  @apply bg-[#1A1A1A] w-15 h-15 rounded-full flex justify-center items-center group-hover:bg-[#3FC9A8] transition duration-300;
}

.font-lato {
  font-family: "Lato", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-sf-mono {
  font-family: "SF Mono", monospace;
}

.font-mont {
  font-family: "Montserrat", sans-serif;
}
